@import "tailwindcss";

@keyframes cell-uncover {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@theme {
  --animate-cell-uncover: cell-uncover 0.35s ease-in-out forwards;
}
